<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Athletes</title>
</head>
<body>
    <div class="container p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <h1>Athletes that won Bronze in 2012 and Gold in 2016</h1>
        <table class = "table">
            <thead>
                <tr>
                    <th>Athlete ID</th>
                    <th>Name</th>
                    <th>Link to their games</th>
                </tr>
            </thead>
            <% data.forEach((item) => { %>
                <tr>
                    <td><%= item.athlete_id%> </td>
                    <td><%= item.name%> </td>
                    <td>
                        <form action="/athlete" method = "GET" class = "my-2">
                            <input type="hidden" name="athlete_id" value = <%=item.athlete_id%> >
                            <button class="btn btn-outline-dark" type="submit">Athlete details</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
        </div>
</body>
</html>